@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

body {
  margin-top: 20px;
}

div.ui.footer.segment {
  padding: 2em 0em;
  margin-top: 8em;
}

.post.title {
  margin: 0.5em 0em 0.5em 0em;
  line-height: 1.2em;
  font-size: 25pt;
  color: teal;
}

.post.subtitle {
  margin: 0.5em 0em 0.5em 0em;
  font-style: italic;
  font-size: 18pt;
  color: grey;
}

ui.logo.image {
  width: 100px;
}

.page.title.ui.header  {
  font-size: 30pt;
  font-family: 'Bungee Shade';
}
