@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

body {
  margin-top: 20px;
}

ui.logo.image {
  width: 100px;
}

.page.title.ui.header  {
  font-size: 30pt;
  font-family: 'Bungee Shade';
}
