<div class='ui stackable grid'>

  <div class='four wide column'>
    <%- partial('_partial/profile') %>
  </div>

  <div class='twelve wide column'>
    <div class='ui divided items'>
      <% page.posts.each(function(post) { %>
        <%- partial('_partial/post', { post: post }) %>
      <% }) %>
    </div>
    <%- partial('_partial/paginator') %>
  </div>

</div>
