<div class="posts">
  <div class="ui divided items">
    <% page.posts.each(function(post) { %>
      <%- partial('_partial/post', { post: post }) %>
    <% }) %>
  </div>
<div class="ui divider"></div>
<%- partial('_partial/paginator') %>
</div>
