<html>

<head>
  <%- css('/dist/semantic.min.css') %>
  <%- js('/dist/semantic.min.js') %>
</head>

<body>
  <div class="ui container">
    <h1>
      Organised Haystack<br/>
      <small>Louis' blog</small>
    </h1>
    <%- partial('_partial/menu') %>
    <%- body %>
  </div>
</body>

</html>
