<h1>Portfolio</h1>

<div class="ui three special cards">

  <div class="ui red card">
    <div class="content">
      <div class="header">Eidetic</div>
      <div class="meta">Flash Card for Geeks</div>
    </div>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <a href="">
              <div class="ui inverted button" href="">Eidetic</div>
            </a>
          </div>
        </div>
      </div>
      <img src="/images/eidetic.jpeg" class="visible image" >
    </div>
    <div class="content">
      <div class="description">
        <p>A minimalist flash card webapp, supports Markdown, syntax highlight
        and MathJax. Built out of the frusturaion that there is no good flash card app
        on the market can be used for geek who used for math and coding.</p>
      </div>
    </div>
    <div class="extra content">
      <div class="ui label">Firebase</div>
      <div class="ui label">React.js</div>
      <div class="ui label">Single Page Web Application</div>
    </div>
  </div>

  <div class="ui red card">
    <div class="content">
      <div class="header">Organised Haystack</div>
      <div class="meta">Personal Website &amp; Blog</div>
    </div>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <a href="https://louis-tian.github.io">
              <div class="ui inverted button" href="">Organised Haystack</div>
            </a>
          </div>
        </div>
      </div>
      <img src="/images/organised_haystack.jpeg" class="visible image" >
    </div>
    <div class="content">
      <div class="description">
        <p>This very site. My personal website and blog.</p>
      </div>
    </div>
    <div class="extra content">
      <div class="ui label">Hexo</div>
      <div class="ui label">HTML &amp; CSS</div>
      <div class="ui label">Less.js</div>
      <div class="ui label">SemanticUI</div>
    </div>
  </div>

  <div class="ui red card">
    <div class="content">
      <div class="header">Surviving Titanic - Visualisation</div>
      <div class="meta">Visualisation</div>
    </div>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <a href="https://bl.ocks.org/Louis-Tian/raw/b1cc4365a0897d30e3c17aad744ed363/">
              <div class="ui inverted button" href="">
                Surviving Titanic
              </div>
            </a>
          </div>
        </div>
      </div>
      <img src="/images/titanic.jpeg" class="visible content bordered image" >
    </div>
    <div class="content">
      <div class="description">
        A demo visualisation with lots of animation
      </div>
    </div>
    <div class="extra content">
      <div class="ui label">D3.js</div>
    </div>
  </div>

</div>
