<div class="ui piled segment">
  <h2 class="ui center aligned icon header">
  <i class="circular World icon"></i>
    Websites
  </h2>
  <div class="ui divided items">
    <div class="item">
      <div class="image">
        <img src="/images/eidetic.jpeg" class="ui medium bordered image" >
      </div>
      <div class="content">
        <a class="header" href="https://flashcard-27f30.firebaseapp.com/login">Eidetic</a>
        <div class="meta">
          <span>A minimalist flash card webapp</span>
        </div>
        <div class="description">
          <p>Eidetic is a minimalist flash card webapp, based on Goolgle's Firebase Platform and React.js</p>
        </div>
        <div class="extra">
          <div class="ui label">Firebase</div>
          <div class="ui label">React.js</div>
          <div class="ui label">Single Page Web Application</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divided items">
    <div class="item">
      <div class="image">
        <img src="/images/organised_haystack.jpeg" class="ui medium bordered image" >
      </div>
      <div class="content">
        <a class="header" href="https://louis-tian@github.io">Organised Haystack</a>
        <div class="meta">
          <span>Personal Website and Blog</span>
        </div>
        <div class="description">
          <p>This very site you are looking at. Statically generated using Hexo.</p>
        </div>
        <div class="extra">
          <div class="ui label">Hexo</div>
          <div class="ui label">Semantic UI</div>
          <div class="ui label">Static generated</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui piled segment">
  <h2 class="ui center aligned icon header">
  <i class="circular Idea icon"></i>
    Visualisation
  </h2>
  <div class="ui divided items">
    <div class="item">
      <div class="image">
        <img src="/images/titanic.jpeg" class="ui medium bordered image">
      </div>
      <div class="content">
        <a class="header" href="https://bl.ocks.org/Louis-Tian/raw/b1cc4365a0897d30e3c17aad744ed363/">Surviving Titanic</a>
        <div class="meta">
          <span>A very cool data visualisation that tells the story of Titanic traged.</span>
        </div>
        <div class="description">
          <p>d3 visualisation with lots animation.</p>
        </div>
        <div class="extra">
          <div class="ui label">D3.js</div>
          <div class="ui label">Webpack</div>
        </div>
      </div>
    </div>
  </div>
</div>
