<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height two column grid">
      <div class="column">
        <h4 class="ui inverted header">Powered By</h4>
        <div class="ui inverted link list">
          <a href="https://hexo.io" class="item">Hexo</a>
          <a href="https://semantic-ui.com" class="item">Semantic UI</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui inverted header">&copy;	2017 Louis Tian</h4>
        <span>full rights reserved</span>
      </div>
    </div>
  </div>
</div>
