<div class="ui secondary pointing menu">
  <div class="ui container">
    <h1 class='page title ui aligned header'> Organised Haystack </h1>
  </div>
  <a class="item <%- is_home() ? 'active': '' %>" href='/'> Blog </a>
  <a class="item <%- is_current('portfolio') ? 'active': '' %>" href='/portfolio'> Portfolio </a>
  <a class="item" href='/archives'> Archive </a>
  <a class="item" href='/cv'> CV </a>
</div>
