<div class="ui one column grid">
  <div class="center aligned column">

    <div class="ui secondary pointing compact menu">
      <a class="item <- is_home ? active: ''>" href='/'> Blog </a>
      <a class="item" href='/portfolio'> Portfolio </a>
      <a class="item"href='/archives'> Archive </a>
    </div>

  </div>
</div>
