<div class="ui one column grid">
  <div class="center aligned column">

    <div class="ui secondary pointing compact menu">
      <a class="item" href='/'> Home </a>
      <a class="item"> Archive </a>
    </div>

  </div>
</div>
