<div class="ui secondary pointing menu">
  <a class="item" href='/'>
    Blog
  </a>
  <a class="item">
    MadeBY
  </a>
  <a class="item">
    About
  </a>
  <a class="item">
    Category
  </a>
  <a class="item">
    Archive
  </a>
</div>
